# Data Science Tools and Ecosystem

**Objectives:**
* popular languages that Data Scientists use
* commonly used libraries used by Data Scientists
* Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. PyTorch
3. Plotly

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Hadoop             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60.
def minutes_to_hours(minutes):
    return minutes /60

minutes= 200
hours= minutes_to_hours(minutes)
print(hours)

3.3333333333333335

## Author
Rimantas