****Retrieving data from an URL and modifying it to get the top 10 countries with the highest GDP****

URL: https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

In [174]:
import pandas as pd
import numpy as np

In [176]:
URL = 'https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'

In [178]:
#reading html file
tables = pd.read_html(URL)
df = tables[3]    

#showing the first 3 collums of the list
df.columns = range(df.shape[1])
df = df[[0,2]]

#locating the first 10 rows
df = df.iloc[1:11,:]

#changing the column names
df.columns = ['Country','GDP (Million USD)']

In [179]:
#Convering GDP values to int
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

#Converting Millions into Billions
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

#Rounding up to two last decimals
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

#Renaming the collum
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'}, inplace=True )
df

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [185]:
df.to_csv('./Largest_economies.csv')